<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<h2>Сalculator</h2>

<form action="" method="post">
    {% csrf_token %}

    <label>First Number:</label><br/>
    <input type="text" name="first_number"/><br/>
    <label>Second Number:</label><br/>
    <input type="text" name="second_number"/><br/>
    <br/>
    <label>
        <input type="checkbox" name="add" value="add">
        <label>add</label>
    </label>
    <br>
    <label>
        <input type="checkbox" name="subtract" value="subtract">
        <label>subtract</label>
    </label>
    <br>
    <label>
        <input type="checkbox" name="multiply" value="multiply">
        <label>multiply</label>
    </label>
    <br>
    <label>
        <input type="checkbox" name="divide" value="divide">
        <label>divide</label>
    </label>
    <br/>
    <br/>
    <input type="submit" value="Calculate"/>
</form>

<h1>Result: {{ first_number }} {{ sign }} {{ second_number }} {{ equals }} {{ result }}</h1>
</body>
</html>



